<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNU1-E5wP5wgr-xsO_5j7xrTsKtwFSA0I</string>
	<key>GCM_SENDER_ID</key>
	<string>342653396398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eligibilite.bank.eligibiliteLivreta</string>
	<key>PROJECT_ID</key>
	<string>eligibilite-liva</string>
	<key>STORAGE_BUCKET</key>
	<string>eligibilite-liva.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342653396398:ios:6519a9db6cd95e6651143f</string>
</dict>
</plist>